$font-stack: 'Trebuchet MS', Arial, sans-serif;
$light-color: #FFC300;
$primary-color: #001c47;
$secondary-color: #a2d0fc;
$text-color: #333;
$white-color: #ffffff;
$black-color: #000000;
$border-radius: 5px;
$padding: 8px 20px;
$margin: 3px;
$max-width: 1100px;
$hero-bg-color: #000814;
$hero-hover-color: #a2d0fc;
